<div class="d-sm-flex align-items-center justify-content-between mb-4 header">
  <h5 class="mb-2 text-gray-800 font-weight-bold">Bài viết hàng đầu</h4>
</div>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-xl-6 col-md-6">
      <div class="h-100">
        <div class="card-body">
          <div class="row no-gutters mb-1">
            <div class="col-xl-12">
              <a href="<%= post.url %>" target="_blank" class="card-view-url" data-post_id=<%= post.id %>>
                <div class="font-weight-bold mb-1">
                  <%= raw post.title %>
                </div>
              </a>
            </div>
            <div class="mb-1 justify-content-center">
              <% if post.image.present? %> 
                <a href="<%= post.url %>" target="_blank" class="card-view-url" data-post_id=<%= post.id %>>
                  <img src="<%= post.image %>" alt="<%= post.title %>" class="card-body-img mt-1 mr-2 border-0">
                </a>
              <% end %>
              <span class="<%= post.category.label_type %> mb-1"><%= post.category.name %></span>
              <div class="card-body-description">
                <%= raw post.description %>
              </div>
            </div>
            <div class="mb-1">
              <img src="<%= post.source.icon %>" width="13px" height="13px" class="mb-1">
              <span class="small">
                <%= post.source.name %> - 
                <% if (Time.now - post.publish_date) / 3600 < 1 %>
                  <%= ((Time.now - post.publish_date) / 60).to_i %> phút trước
                <% elsif (Time.now - post.publish_date) / 3600 < 24 %>
                  <%= ((Time.now - post.publish_date) / 3600).to_i %> giờ trước
                <% elsif (Time.now - post.publish_date) / 3600 < 48 %>
                  Hôm qua
                <% else %>
                  <%= post.publish_date.strftime("%d/%m") %>
                <% end %>
              </span>
              <span id="card-bookmark-<%= post.id %>">
                <%= render "bookmark", post: post %>
              </span>
              <span id="card-like-<%= post.id %>">
                <%= render "like", post: post %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end %>
</div>
