<h2>Thêm quản trị viên</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Họ tên</label>
    <%= f.text_field :fullname, class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Mật khẩu</label>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <small id="emailHelp" class="form-text text-muted">Ít nhất <%= @minimum_password_length %> kí tự</small>
    <% end %>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Xác nhận Mật khẩu</label>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="status_eq">Vai trò</label>
    <%= f.select :role_id, options_for_select([
      ["System Operator", 1],
      ["Data Analyst", 2],
      ["Editor", 3],
    ]), {:include_blank => "Chọn..."}, {class: "form-control"} %>
  </div>

  <%= f.submit "Thêm", class: "btn btn-primary" %>
<% end %>

