<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= alert %>
  </div>
<% end %>

<div class="row">
  <div class="col-xl-12">
    <div class="d-sm-flex mb-2 post-header">
      <h5 class="ml-3 mt-2 font-weight-bold">Tin Mới Nhất</h5>
    </div>
  </div>
</div>

<%= render "posts_list", posts: @posts, is_recommend: 0 %>

<div class="row mb-4">
  <a href="/posts/" class="ml-auto mr-3 small">
    <i>Xem tất cả tin &rarr; </i>
  </a>
</div>

<% if @recommend_posts %>
  <div class="row">
    <div class="col-xl-12">
      <div class="d-sm-flex mb-2 post-header">
        <% if (user_signed_in? && !current_user.no_iteraction?) || session[:recent_posts].present? %>
          <h5 class="ml-3 mt-2 font-weight-bold">Dựa Trên Tin Đã Xem</h5>
        <% else %>
          <h5 class="ml-3 mt-2 font-weight-bold">Bạn Có Thể Thích</h5>
        <% end %>
      </div>
    </div>
  </div>

  <%= render "posts_list", posts: @recommend_posts, is_recommend: 1 %>

  <div class="row mb-4">
    <a href="/posts/recommend/" class="ml-auto mr-3 small">
      <i>Xem tất cả tin &rarr; </i>
    </a>
  </div>
<% end %>

<div class="row">
  <div class="col-xl-12">
    <div class="d-sm-flex mb-2 post-header">
      <h5 class="ml-3 mt-2 font-weight-bold">Videos</h5>
    </div>
  </div>
</div>

<%= render "videos_list", videos: @videos %>

<div class="row mb-4">
  <a href="/videos/" class="ml-auto mr-3 small">
    <i>Xem tất cả video &rarr; </i>
  </a>
</div>

<% if @most_visited_category.present? && @most_visited_source.present? %>
  <div class="row">
    <div class="col-xl-8">
      <div class="row">
        <div class="col-xl-12">
          <div class="d-sm-flex mb-2 post-header mr-2">
            <h5 class="ml-3 mt-2 font-weight-bold">
              Tin <%= @most_visited_category.name %>
            </h5>
          </div>
        </div>
      </div>

      <%= render "small_posts_list", posts: @most_visited_category_posts %>

      <div class="row mb-4">
        <a href="/categories/<%= @most_visited_category.slug %>/" class="ml-auto mr-3 small">
          <i>Xem tất cả tin &rarr; </i>
        </a>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <div class="d-sm-flex mb-2 post-header mr-2">
            <h5 class="ml-3 mt-2 font-weight-bold">
              Xem Nhiều Trong Ngày
            </h5>
          </div>
        </div>
      </div>

      <%= render "small_posts_list", posts: @most_interested_daily %>

      <div class="row mb-4">
        <a href="/posts/" class="ml-auto mr-3 small">
          <i>Xem tất cả tin &rarr; </i>
        </a>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="row">
        <div class="col-xl-12">
          <div class="d-sm-flex mb-2 post-header">
            <h5 class="ml-3 mt-2 font-weight-bold">
              <img class="post-header-logo" src="<%= @most_visited_source.icon %>"/>
              <%= @most_visited_source.name %>
            </h5>
          </div>
        </div>
      </div>

      <%= render "side_posts_list", posts: @most_visited_source_posts %>

      <div class="row mb-4">
        <a href="/sources/<%= @most_visited_source.slug %>/" class="ml-auto mr-3 small">
          <i>Xem tất cả tin &rarr; </i>
        </a>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <div class="d-sm-flex mb-2 post-header">
            <h5 class="ml-3 mt-2 font-weight-bold">
              Đã Xem Gần Đây
            </h5>
          </div>
        </div>
      </div>

      <% if @recently_visited.present? %>
        <%= render "side_posts_list", posts: @recently_visited %>

        <div class="row mb-4">
          <a href="/posts/" class="ml-auto mr-3 small">
            <i>Xem tất cả tin &rarr; </i>
          </a>
        </div>
      <% else %>
        <div class="bookmark-wrapper">
          Bạn chưa xem tin nào ngày hôm nay.
          <br/><br/>
          <a href="/posts/">Xem danh sách tin &rarr; </a>
        </div>
      <% end %>
    </div>
<% end %>