<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="imgcontainer">
    <img src="/images/logo.png" alt="Avatar" class="avatar">
  </div>
  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= alert %>
    </div>
  <% end %>
  <div class="container">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
        
    <%= f.submit "Đăng nhập" %>
  </div>
<% end %>
