<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 fixed-top shadow-sm">
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>
  <a class="d-flex align-items-center justify-content-center" href="/">
    <img src="/images/logo.png" />
  </a>
  <ul class="navbar-nav ml-auto">

    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow d-sm-none">
      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-search fa-fw"></i>
      </a>
      <!-- Dropdown - Messages -->
      <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
        <form class="form-inline mr-auto w-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>

    <%= form_for :post, url: posts_path, method: :get, enforce_utf8: false, html: {class: 'form-inline navbar-search'} do |form| %>
      <div class="input-group">
        <%= text_field_tag :s, params[:s], class: 'form-control bg-light border-0 small', placeholder: 'Tìm kiếm...' %>
        <%= button_tag(type: "submit", class: "btn btn-primary", name: nil) do %>
          <i class="fas fa-search fa-sm"></i>
        <% end %>
      </div>
    <% end %>

    <div class="topbar-divider d-none d-sm-block"></div>

    <% if user_signed_in? %>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.fullname || current_user.email %></span>
          <img class="img-profile rounded-circle" src="<%= current_user.image %>">
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="/bookmarks/">
            <i class="fas fa-fw fa-bookmark fa-sm mr-2 text-gray-400"></i>
            Tin đã lưu
          </a>
          <a class="dropdown-item" href="/posts/recommend/">
            <i class="fas fa-fw fa-user fa-sm mr-2 text-gray-400"></i>
            Dành cho bạn
          </a>
          <div class="dropdown-divider"></div>
          <%= link_to(raw('<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Đăng xuất'), destroy_user_session_path, method: :delete, class: "dropdown-item") %> 
        </div>
      </li>
    <% else %>
      <li class="nav-item dropdown no-arrow d-none">
        <a class="nav-link" href="/users/sign_in/">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small">Đăng nhập</span>
        </a>
      </li>
      <li class="nav-item dropdown no-arrow d-none">
        <a class="nav-link" href="/users/sign_up/">
          <button type="button" class="btn btn-primary mr-2 d-none d-lg-inline small">Đăng kí</button>
        </a>
      </li>
      <li class="nav-item dropdown no-arrow d-lg-none">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="img-profile rounded-circle" src="/images/default_user2.jpg">
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="/users/sign_in/">
            <span class="mr-2 text-gray-600 small">Đăng nhập</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/sign_up/">
            <span class="mr-2 text-gray-600 small">Đăng kí</span>
          </a>
        </div>
      </li>
    <% end %>
  </ul>

</nav>
