<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <%= devise_error_messages! %>
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Tạo tài khoản mới</h1>
                </div>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "user"}) do |f| %>
                  <div class="form-group">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user", placeholder: "Địa chỉ Email" %>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-user", placeholder: "Mật khẩu" %>
                      <% if @minimum_password_length %>
                        <small class="form-text text-muted">(Tối thiểu <%= @minimum_password_length %> kí tự)</small>
                      <% end %>
                    </div>
                    <div class="col-sm-6">
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-user", placeholder: "Nhập lại mật khẩu" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input class="custom-control-input" type="checkbox" id="showPassword">
                      <label class="custom-control-label" for="showPassword">Hiển thị mật khẩu</label>
                    </div>
                  </div>
                  <%= f.submit "Đăng kí", class: 'btn btn-primary btn-user btn-block' %>
                  <hr>
                <% end %>
                <div class="text-center">
                  <%= link_to("Quên mật khẩu?", new_user_password_path, id:"forget-password", class:"forget-password small") %>
                </div>
                <div class="text-center">
                  <a class="small" href="/users/sign_in/">Đã có tài khoản? Đăng nhập ngay!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
